.paragraph {
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
}

.header-2 {
  font-size: 5rem;
  line-height: 4.75rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (max-width: 1600px) {
  .header-2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
@media screen and (max-width: 1150px) {
  .header-2 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .paragraph {
    font-size: .75rem;
  }
}
@media screen and (max-width: 650px) {
  .header-2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

@media screen and (min-width: 300px) and (max-width: 450px) {
  .header-2 {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
}
