.bubbles1 {
  position: absolute;
  background: #d1dfbc;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  bottom: calc(30% - var(--circle-size) / 2);
  left: calc(30% - var(--circle-size) / 2);
  z-index: -2;
}
.bubbles2 {
  position: absolute;
  background: #325491;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  bottom: calc(40% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  z-index: -2;
}
.bubbles6 {
  position: absolute;
  background: #d1dfbc;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  bottom: calc(90% - var(--circle-size) / 2);
  right: calc(50% - var(--circle-size) / 2);
  z-index: -2;
}
.bubbles3 {
  position: absolute;
  background: #f0ebcd;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  bottom: -calc(50% - var(--circle-size) / 2);
  right: -calc(50% - var(--circle-size) / 2);
  z-index: -2;
}
.bubbles4 {
  position: absolute;
  background: #3f69d7;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  bottom: calc(50% - var(--circle-size) / 2);
  right: calc(50% - var(--circle-size) / 2);
  z-index: -4;
}
.bubbles5 {
  position: absolute;
  background: #3f69d7;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  bottom: -calc(50% - var(--circle-size) / 2);
  right: -calc(50% - var(--circle-size) / 2);
  z-index: -3;
}
.bubbles7 {
  position: absolute;
  background: #f0ebcd;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  bottom: calc(10% - var(--circle-size) / 2);
  right: calc(60% - var(--circle-size) / 2);
  z-index: -8;
}
.bubbles8 {
  position: absolute;
  background: #325491;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  bottom: calc(50% - var(--circle-size) / 2);
  right: calc(50% - var(--circle-size) / 2);
  z-index: -1;
}
.bubbles9 {
  position: absolute;
  background: #59b3f4;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  bottom: calc(5% - var(--circle-size) / 2);
  right: calc(50% - var(--circle-size) / 2);
  z-index: -4;
}
.bubbles10 {
  position: absolute;
  background: #8abace;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  bottom: calc(10% - var(--circle-size) / 2);
  right: calc(30% - var(--circle-size) / 2);
  z-index: -3;
}
.bubbles11 {
  position: absolute;
  background: #d1dfbc;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  bottom: calc(40% - var(--circle-size) / 2);
  right: calc(var(--circle-size) / 2);
  z-index: -2;
}
.bubbles12 {
  position: absolute;
  background: #8abace;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  bottom: calc(30% - var(--circle-size) / 2);
  left: calc(60% - var(--circle-size) / 2);
  z-index: -5;
}
.bubbles13 {
  position: absolute;
  background: #325491;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  bottom: calc(20% - var(--circle-size) / 2);
  left: calc(80% - var(--circle-size) / 2);
  z-index: -2;
}
.bubbles14 {
  position: absolute;
  background: #8abace;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  bottom: -calc(40% - var(--circle-size) / 2);
  right: calc(var(--circle-size) / 2);
  z-index: -2;
}
.bubbles15 {
  position: absolute;
  background: #f0ebcd;
  border-radius: 50%;
  width: 370px;
  height: 370px;
  bottom: calc(20% - var(--circle-size) / 2);
  left: -calc(var(--circle-size) / 2);
  z-index: -4;
}
.bubbles16 {
  position: absolute;
  background: #3f69d7;
  border-radius: 50%;
  width: 420px;
  height: 420px;
  bottom: calc(5% - var(--circle-size) / 2);
  right: calc(100% - var(--circle-size) / 2);
  z-index: -5;
}
.bubbles17 {
  position: absolute;
  background: #d1dfbc;
  border-radius: 50%;
  width: 330px;
  height: 330px;
  bottom: calc(40% - var(--circle-size) / 2);
  right: calc(var(--circle-size) / 2);
  z-index: -5;
}
.bubbles18 {
  position: absolute;
  background: #f0ebcd;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  bottom: -calc(40% - var(--circle-size) / 2);
  right: calc(100% - var(--circle-size));
  z-index: -3;
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
  .bubbles1 {
    width: 350px;
    height: 350px;
  }
  .bubbles2 {
    width: 210px;
    height: 210px;
  }
  .bubbles3 {
    width: 91px;
    height: 91px;
  }
  .bubbles4 {
    width: 175px;
    height: 175px;
  }
  .bubbles5 {
    width: 175px;
    height: 175px;
  }
  .bubbles6 {
    width: 175px;
    height: 175px;
  }
  .bubbles7 {
    width: 350px;
    height: 350px;
  }
  .bubbles8 {
    width: 70px;
    height: 70px;
  }
  .bubbles9 {
    width: 350px;
    height: 350px;
  }
  .bubbles10 {
    width: 350px;
    height: 350px;
  }
  .bubbles11 {
    width: 175px;
    height: 175px;
  }
  .bubbles12 {
    width: 315px;
    height: 315px;
  }
  .bubbles13 {
    width: 245px;
    height: 245px;
  }
  .bubbles14 {
    width: 126px;
    height: 126px;
  }
  .bubbles15 {
    width: 259px;
    height: 259px;
  }
  .bubbles16 {
    width: 294px;
    height: 294px;
  }
  .bubbles17 {
    width: 231px;
    height: 231px;
  }
  .bubbles18 {
    width: 91px;
    height: 91px;
  }
}

@media screen and (max-width: 650px) {
  .bubbles1 {
    width: 200px;
    height: 200px;
  }
  .bubbles2 {
    width: 120px;
    height: 120px;
  }

  .bubbles3 {
    width: 52px;
    height: 52px;
  }
  .bubbles4 {
    width: 100px;
    height: 100px;
  }
  .bubbles5 {
    width: 100px;
    height: 100px;
  }
  .bubbles6 {
    width: 100px;
    height: 100px;
  }
  .bubbles7 {
    width: 200px;
    height: 200px;
  }
  .bubbles8 {
    width: 40px;
    height: 40px;
  }
  .bubbles9 {
    width: 200px;
    height: 200px;
  }
  .bubbles10 {
    width: 200px;
    height: 200px;
  }
  .bubbles11 {
    width: 100px;
    height: 100px;
  }
  .bubbles12 {
    width: 180px;
    height: 180px;
  }
  .bubbles13 {
    width: 140px;
    height: 140px;
  }
  .bubbles14 {
    width: 72px;
    height: 72px;
  }
  .bubbles15 {
    width: 148px;
    height: 148px;
  }
  .bubbles16 {
    width: 168px;
    height: 168px;
  }
  .bubbles17 {
    width: 132px;
    height: 132px;
  }
  .bubbles18 {
    width: 52px;
    height: 52px;
  }
}
