:root {
    --primary: "#202453";
    --ocean-blue: "#325491";
    --blue: "#3F69D7";
    --light-blue: "#8ABACE";
    --seafoam: "#ADD7CB";
    --pale-sage: "#D1DFBC";
    --vanilla-cream: "#F0EBCD";
    --bright-azure: "#59B3F4";
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
