.contactme__container {
  width: 100%;
  height: auto;
  background: linear-gradient(
    180deg,
    rgba(32, 36, 83, 1) 0%,
    rgba(50, 84, 145, 1) 100%
  );
  padding-top: 8rem;
  padding-bottom: 16rem;
  padding-left: 8rem;
  padding-right: 8rem;
  text-transform: uppercase;
  text-align: right;
  justify-content: end;
  position: relative;
  overflow: clip;
}

.links {
  display: flex;
}
.bubbles__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -100px;
  overflow: hidden;
}
.link-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 0;
  font-size: 4rem;
  font-weight: 500;
  line-height: 4rem;
}
.section-title {
  font-size: 6rem;
  color: #f0ebcd;
  background: linear-gradient(
    180deg,
    rgba(240, 235, 205, 1) 0%,
    rgba(209, 223, 188, 1) 100%
  );
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 6rem;
}
.text-container{
  position: relative;
  z-index: 300;
}
.links {
  justify-content: end;
  position: relative;
 
}

.linkedin {
  color: #8abace;
}
.email {
  color: #325491;
}
.github {
  color: #add7cb;
}

.copyright {
  background: linear-gradient(
    180deg,
    rgba(240, 235, 205, 1) 0%,
    rgba(209, 223, 188, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  line-height: 3rem;
  text-transform: none;
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
  .contactme__container {
    padding: 8rem 4rem;
  }
  .section-title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .copyright,
  .link-item {
    font-size: 2rem;
    line-height: 3rem;
  }
  .bubbles__container {
    bottom: -200px;
  }
}

@media screen and (max-width: 650px) {
  .section-title {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .links {
    flex-wrap: wrap;
  }
  .contactme__container {
    padding: 8rem 3rem;
  }
  .copyright {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .link-item {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-left: 1rem;
  }
  .contactme__container {
    overflow: hidden;
  }
}
